{% extends 'base.html' %}
{% block title %}ProMan--软件管理平台{% endblock %}


{% block content %}
    <p class="d-md-block d-none" style="position: fixed; bottom: -1%;right: 0">
        {% if  request.session.is_login %}
            <a class="btn btn-danger  btn-lg " href="#" role="button">继续上次项目</a>
        {% endif %}
        <a class="btn btn-primary btn-lg" href="{% url 'start' %}" role="button">开始新的项目</a>
        {% if  request.session.is_login %}
            <a class="btn btn-warning btn-lg" href="#" role="button">查看所有项目</a>
        {% endif %}
    </p>

{% endblock %}

{% block script %}

{% endblock %}