<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

<div style="margin: 15% 40%;">
    <form action="/login/" method="post">
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <h2>欢迎登录！</h2>

        <div>
            {{ login_form.username.label_tag }}
            {{ login_form.username}}
        </div>
        <div>
            {{ login_form.password.label_tag }}
            {{ login_form.password }}
        </div>
        <div>
            {{ login_form.captcha.errors }}
            {{ login_form.captcha.label_tag }}
            {{ login_form.captcha }}
        </div>

        <div><input type="submit" value="登录"></div>
    </form>
</div>

</body>
</html>