{% extends 'base.html' %}
{% block content %}
    <div class=" bg-dark border border-dark rounded panel panel-default d-lg-block d-none"
         style="position: fixed;top: 15%; right: 5%;width: 26% ;">
        <div class="panel-heading " style="margin-left: 5%;margin-top: 8%">
            <h3 class="panel-title text-light">
                账号注册
            </h3>
        </div>
        <div>
            <form class="needs-validation" action="{% url 'register' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group" style="margin-left: 8%;margin-top: 2%">
                    <label for="inputName" class="text-light">用户名</label>
                    {{ register_form.name }}
                    <div class="invalid-feedback">请输入用户名</div>
                    <small class="form-text text-danger">{{ error_name }}</small>
                </div>
                <div class="form-group" style="margin-left: 8%;margin-top: -3%">
                    <label for="inputEmail" class="text-light">电子邮箱</label>
                    {{ register_form.email }}
                    <div class="invalid-feedback">请输入正确的邮箱</div>
                    <small id="error_email_id" class="form-text text-danger">{{ error_email }}</small>
                    <div class="input-group mb-3" style="width: 85%">
                        {{ register_form.code }}
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button" id="button-addon2"
                                    data-loading-text="Loading...">发送验证码
                            </button>
                        </div>
                        <div class="invalid-feedback">请输入验证码</div>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 8% ;margin-top: -3%">
                    <label class="text-light" for="exampleInputPassword1">密码</label>
                    {{ register_form.password }}
                    <div class="invalid-feedback">请输入密码</div>
                    {{ register_form.password_confirm }}
                    <div class="invalid-feedback">请输入确定密码</div>
                    <small class="form-text text-danger">{{ error_password }}</small>
                </div>
                <button style="margin-left: 8%;margin-bottom: 8%;margin-top: 0" type="submit" class="btn btn-primary">
                    注册！
                </button>
                <a style="margin-bottom: 8%;margin-top:0%;margin-left: 5%;" class="btn btn-danger"
                   href="{% url 'login' %}"
                   role="button">返回登录</a>

            </form>
        </div>
    </div>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}
{% block script %}
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // 这些HTTP方法不要求CSRF包含
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <script>
        const isEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        $("#button-addon2").click(function () {
            $("#error_email_id").text('');
            let email = $("#inputEmail").val();
            if (email === '') {
                $("#error_email_id").text('邮箱不能为空');
            }
            else if (!(isEmail.test(email))) {
                $("#error_email_id").text('邮箱格式不正确');
            }
            else {
                $.post({% url 'email' %},
                    {
                        email: email
                    },
                    function (data, status) {
                        if (data === "repeat") {
                            $("#error_email_id").text('该邮箱已注册');
                        }
                        else if (data === "check") {
                            $("#error_email_id").text('请检查邮箱');
                        }
                        else if (data === "short") {
                            $("#error_email_id").text('发送时间太短');
                        }
                        else {
                            let second = 59;
                            $("#button-addon2").text("请等待(60s)").attr('disabled', true);
                            {#$("#inputEmail").attr('disabled', true);#}
                            $("#error_email_id").text(data);
                            let time = setInterval(
                                function () {
                                    if (second > 0) {
                                        let s_second = '' + second;
                                        if (second < 10)
                                            s_second = '0' + s_second;
                                        $('#button-addon2').text("请等待(" + s_second + "s)");
                                        second--;
                                    } else {
                                        $('#button-addon2').text("发送验证码").attr('disabled', false);
                                        clearInterval(time);
                                    }
                                }, 1000);
                        }
                    });

            }
        });
    </script>
{% endblock %}