{% extends 'base.html' %}

{% block overcontent %}
    <!--suppress ALL -->
    <div class="container">
        <div class="jumbotron">
            <h3 class="display-4">
                <span class="badge badge-warning"> {{ project.name }}</span>
            </h3>
            <p class="lead ">现在开始分配任务，也可以跳过这一步
                {#                    -----------------------------------------------------------------#}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    添加任务
                </button>

                <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">添加任务</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-row needs-validation" action="{% url 'add_member' %}"
                                  method="post" novalidate>
                                {% csrf_token %}
                                <div class="form-group col-md-6" style="width: 50%">
                                    <label for="mission_name" class="col-form-label">任务名</label>
                                    {{ mission_form.mission_name }}
                                    <div class="invalid-feedback">
                                        请填写任务名
                                    </div>
                                    <small id="username_notice" class="form-text"></small>
                                </div>
                                <div class="form-group col-md-6" style="width: 30%">
                                    <label for="power" class="col-form-label">选择用户</label>
                                    {{ mission_form.member }}

                                </div>
                                <div class="form-group col-md-6">

                                    <label for="start_time">开始时间</label>
                                    {{ mission_form.start_time }}
                                    <div class="invalid-feedback">
                                        请填写开始时间
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pre_end_time">预计结束时间</label>
                                    {{ mission_form.pre_end_time }}
                                    <div class="invalid-feedback">
                                        请填写结束时间
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="validationCustom02">任务描述</label>
                                    {{ mission_form.mission_description }}
                                    <div class="invalid-feedback">请填写项目描述</div>
                                </div>
                                <div class="form-group col-md-8">


                                </div>
                                <div class="form-group col-md-4 justify-content-end">
                                    <button type="button" id="cancel" class="btn btn-secondary"
                                            data-dismiss="modal">取消
                                    </button>
                                    <button type="submit" class="btn btn-primary">确定</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            {#                    ----------------------------------------------------------------------------------#}


            </p>
            <hr class="my-4">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3  mb-3">

                    {# ------------------------------------------------------------------#}
                    <h5>任务个数： <span class="badge badge-warning">0%</span></h5>

                </div>
                <div class="col-md-3  mb-3">

                    {# ------------------------------------------------------------------#}
                    <h5>任务进度： <span class="badge badge-warning">0%</span></h5>
                    <!-- Button trigger modal -->


                </div>
                <div class="col-md-6  mb-3 shadow-sm p-3 mb-5 bg-white rounded" style="height: 500px">
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">序号</th>
                                <th scope="col">任务名</th>
                                <th scope="col">所属人</th>
                                <th scope="col">进度</th>
                                <th scope="col">删除</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for member in members %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ member.user_name }}</td>
                                    <td> {{ member.get_member_power_display }}</td>
                                    {# 改成Button#}
                                    <td>更改权限 删除</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="btn-lg btn-primary" href="#" role="button">下一步</a>
                    <a class="btn-lg btn-danger" href="#" role="button">跳过</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {


                        $('#username_notice').attr("class", "form-text text-danger").text("");
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');

                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
        $('#start_time').datepicker(
            {
                format: 'yyyy-mm-dd',
                modal: true,
                footer: true,
                uiLibrary: 'bootstrap4',
                header: true,
                maxDate: function () {
                    return $('#pre_end_time').val();
                }
            });
        $('#pre_end_time').datepicker(
            {
                format: 'yyyy-mm-dd',
                modal: true,
                footer: true,
                uiLibrary: 'bootstrap4',
                header: true,
                minDate: function () {
                    return $('#start_time').val();
                }
            });
    </script>
{% endblock %}